# Игнорировать окружение
.venv/
env/

# Игнорировать .env
.env

# Игнорировать файлы конфигурации IDE
.idea/


# Игнорировать байт-код
*.pyc
*.pyo

# Игнорировать файлы зависимостей
*.egg-info/
*.egg

# Игнорировать файлы миграций Alembic
alembic/versions/
